<?xml version="1.0" ?>
<robot name="tiago_pro" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_pro_moveit_config)/config/srdf/disable_collisions/tiago_pro_no-ee_no-ee.srdf.xacro" />
  <xacro:include filename="$(find tiago_pro_moveit_config)/config/srdf/disable_collisions/tiago_pro_pal-pro-gripper_rokubi_no-arm-right.srdf.xacro" />
  <xacro:include filename="$(find tiago_pro_moveit_config)/config/srdf/disable_collisions/tiago_pro_no-arm-left_pal-pro-gripper.srdf.xacro" />
    <disable_collisions link1="arm_left_1_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_1_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_1_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_1_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_1_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_2_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_2_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_2_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_2_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_2_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_3_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_3_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_3_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_3_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_3_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_6_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_6_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_6_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_6_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_6_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_7_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_7_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_7_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_7_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_7_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="gripper_left_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="gripper_left_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="gripper_left_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="gripper_left_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="gripper_left_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_2_link" link2="gripper_left_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_2_link" link2="gripper_left_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_2_link" link2="gripper_left_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_2_link" link2="gripper_left_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_2_link" link2="gripper_left_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="gripper_left_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="gripper_left_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="gripper_left_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="gripper_left_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="gripper_left_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="gripper_left_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="gripper_left_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="gripper_left_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="gripper_left_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="gripper_left_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="gripper_left_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="gripper_left_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="gripper_left_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="gripper_left_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="gripper_left_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_6_link" link2="gripper_left_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_6_link" link2="gripper_left_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_6_link" link2="gripper_left_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_6_link" link2="gripper_left_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_6_link" link2="gripper_left_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_7_link" link2="gripper_left_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_7_link" link2="gripper_left_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_7_link" link2="gripper_left_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_7_link" link2="gripper_left_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_7_link" link2="gripper_left_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_base_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_dummy_mimic_link" link2="gripper_right_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_left_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_base_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_dummy_mimic_link" link2="gripper_right_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_fingertip_right_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_base_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_dummy_mimic_link" link2="gripper_right_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_left_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_base_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_dummy_mimic_link" link2="gripper_right_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_inner_finger_right_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_left_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_left_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_left_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_left_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_left_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_base_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_dummy_mimic_link" link2="gripper_right_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_link" link2="gripper_right_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_link" link2="gripper_right_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_link" link2="gripper_right_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_link" link2="gripper_right_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_outer_finger_right_link" link2="gripper_right_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_right_fingertip_left_dummy_mimic_link" link2="wrist_left_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_fingertip_left_dummy_mimic_link" link2="wrist_left_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_fingertip_right_dummy_mimic_link" link2="wrist_left_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_fingertip_right_dummy_mimic_link" link2="wrist_left_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_inner_finger_left_dummy_mimic_link" link2="wrist_left_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_inner_finger_left_dummy_mimic_link" link2="wrist_left_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_inner_finger_right_dummy_mimic_link" link2="wrist_left_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_inner_finger_right_dummy_mimic_link" link2="wrist_left_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_outer_finger_right_dummy_mimic_link" link2="wrist_left_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_outer_finger_right_dummy_mimic_link" link2="wrist_left_ft_tool_link" reason="Never"/>
</robot>
